h1{
    font-size: 50px;
    font-family: 'Anton', sans-serif;

}
.highlight{
    color:darkcyan;
}
.Half-width{
    width: 50%;
    text-align:justify;
    margin: 5%;
    padding: 2%;
    float: center;
    
}
.Half-width img{
    width: 40%;
    float: right;
    position: absolute;
    left: 50%;
}
.headline{
    text-align: center;
}
.link-button{
    text-decoration: none;
    color:oldlace;
    background-color:darkcyan;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(180deg,Cyan, Darkcyan);

}
 #cool{
     color: darkcyan;
     
 }
 .another{
     position: absolute;
     text-align: justify;
     margin: 5%;
     padding: 2%;
     width: 50%;
     
 }
 .another img{
     width: 50%;
 }
 #headline2{
     margin-top: 10%;
     text-align: justify;


 }
 .fb-button{
     text-decoration: none;
     background-color:darkcyan;
     padding: 10px 20px;
     border-radius: 10px;
     font-weight: 700;
     font-family: 'Courier New', Courier, monospace;
     background-image: linear-gradient(90deg,Cyan, Darkcyan);
     color: oldlace;
 }
 .identity{
     font-family:'Courier New', Courier, monospace;
     color: black;
     font-size: 50px;
 }
 .name{
     color: darkcyan;
 }
 